In [7]:
from fyers_apiv3 import fyersModel
import webbrowser
import pandas as pd
import numpy as np

In [8]:
client_id = "78E30P6HOJ-100" 
secret_key = "0XI8PTVQJY"
redirect_uri = "https://trade.fyers.in/api-login/redirect-uri/index.html"
response_type = "code"
grant_type = "authorization_code"

In [9]:
# Create a session object to handle the Fyers API authentication and token generation
session = fyersModel.SessionModel(
    client_id=client_id,
    secret_key=secret_key, 
    redirect_uri=redirect_uri, 
    response_type=response_type, 
    grant_type=grant_type
)

In [10]:
# Generate the auth code using the session model
response = session.generate_authcode()

# Print the auth code received in the response
print(response)

https://api-t1.fyers.in/api/v3/generate-authcode?client_id=78E30P6HOJ-100&redirect_uri=https%3A%2F%2Ftrade.fyers.in%2Fapi-login%2Fredirect-uri%2Findex.html&response_type=code&state=None

In [11]:
# The authorization code received from Fyers after the user grants access
auth_code = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkubG9naW4uZnllcnMuaW4iLCJpYXQiOjE3MDkzNzAyMDcsImV4cCI6MTcwOTQwMDIwNywibmJmIjoxNzA5MzY5NjA3LCJhdWQiOiJbXCJ4OjBcIiwgXCJ4OjFcIiwgXCJ4OjJcIiwgXCJkOjFcIiwgXCJkOjJcIiwgXCJ4OjFcIiwgXCJ4OjBcIl0iLCJzdWIiOiJhdXRoX2NvZGUiLCJkaXNwbGF5X25hbWUiOiJYTTI2MjA2Iiwib21zIjoiSzEiLCJoc21fa2V5IjoiOWI5M2M4NzE0YWIzNzE1ZTc0NzZhOWYxZWQzOWE0Mjc1OTQzZWM4MjZjMWM2NTVlMWFlYTY3NzYiLCJub25jZSI6IiIsImFwcF9pZCI6Ijc4RTMwUDZIT0oiLCJ1dWlkIjoiYjI5YTU4YWZlYjgzNDg5ZTlkNjVhNTQ0NTE2ZTc4ZDQiLCJpcEFkZHIiOiIwLjAuMC4wIiwic2NvcGUiOiIifQ._s6-LZV0TVLYXxgdi9uGRg67EGF0PeVnjK9LFnFgpeU"

In [12]:
# Set the authorization code in the session object
session.set_token(auth_code)

# Generate the access token using the authorization code
response = session.generate_token()

# Print the response, which should contain the access token and other details
print(response)

{'s': 'ok', 'code': 200, 'message': '', 'access_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MDkzNzAzNTAsImV4cCI6MTcwOTQyNTg1MCwibmJmIjoxNzA5MzcwMzUwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6ImFjY2Vzc190b2tlbiIsImF0X2hhc2giOiJnQUFBQUFCbDR1dnVZV3ptaEFvUDZPT3lsLXJQaHFWVjBQR1RIeC1FdmI5TXQ2YUp5X1ZsZ29BblhjdnlNT1pEQk5hVE5TdTZ4eFhINHpHX2NjYVRZdGFMbE53QmhqTjZzMGRTZUpJZy1XU2pEUFRVaWxCdzRtUT0iLCJkaXNwbGF5X25hbWUiOiJNQU5TT09SIEhBU0hJTSBNSVRIQUlXQUxBIiwib21zIjoiSzEiLCJoc21fa2V5IjoiOWI5M2M4NzE0YWIzNzE1ZTc0NzZhOWYxZWQzOWE0Mjc1OTQzZWM4MjZjMWM2NTVlMWFlYTY3NzYiLCJmeV9pZCI6IlhNMjYyMDYiLCJhcHBUeXBlIjoxMDAsInBvYV9mbGFnIjoiTiJ9.V9WFWsFZCRN9B0J7eXK-09BvmbgSMxDj_7FmNf7VpA4', 'refresh_token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhcGkuZnllcnMuaW4iLCJpYXQiOjE3MDkzNzAzNTAsImV4cCI6MTcxMDYzNTQ1MCwibmJmIjoxNzA5MzcwMzUwLCJhdWQiOlsieDowIiwieDoxIiwieDoyIiwiZDoxIiwiZDoyIiwieDoxIiwieDowIl0sInN1YiI6InJlZnJlc2hfdG9rZW4iLCJhdF9oYXNoIjoiZ0FBQUFBQmw0dXZ1WVd6bWhBb1A2T095bC1yUGhxVlYwUEdUSHgtRXZiOU10NmFKeV9WbGdvQW5YY3Z5TU9aREJOYVROU3U2eHhYSDR6R19jY2FUWXRhTGxOd0Joak42czBkU2VKSWctV1NqRFBUVWlsQnc0bVE9IiwiZGlzcGxheV9uYW1lIjoiTUFOU09PUiBIQVNISU0gTUlUSEFJV0FMQSIsIm9tcyI6IksxIiwiaHNtX2tleSI6IjliOTNjODcxNGFiMzcxNWU3NDc2YTlmMWVkMzlhNDI3NTk0M2VjODI2YzFjNjU1ZTFhZWE2Nzc2IiwiZnlfaWQiOiJYTTI2MjA2IiwiYXBwVHlwZSI6MTAwLCJwb2FfZmxhZyI6Ik4ifQ.55oho70JCRk3P1xqJ3MawjEeerjLsyAHBE4AxzpcVYk'}

In [13]:
df= pd.DataFrame()
df = response
tk = df['access_token']

In [14]:
#initialize the FyersModel instancewith your client_id, access_token, and enable async mode
fyers = fyersModel.FyersModel(client_id=client_id, is_async=False, token=tk, log_path="")

In [15]:
# Make a request to get the user profile information
response = fyers.get_profile()
#Print the response recevied from the fyers api
print(response)

{'s': 'ok', 'code': 200, 'message': '', 'data': {'fy_id': 'XM26206', 'name': 'MANSOOR HASHIM MITHAIWALA', 'image': None, 'display_name': None, 'pin_change_date': '02-09-2022 20:33:15', 'email_id': 'mansoor.mithaiwalaa@gmail.com', 'pwd_change_date': '02-09-2022 20:33:05', 'PAN': '---------', 'mobile_number': '9945560158', 'totp': False, 'pwd_to_expire': -396}}

In [19]:
data = {
    "symbol":"NSE:NIFTYBANK-INDEX",
    "resolution":"45",
    "date_format":"1",
    "range_from":"2023-11-10",
    "range_to":"2024-02-14",
}

hdata = fyers.history(data)

In [20]:
df = pd.DataFrame.from_dict(hdata['candles'])
cols = ['datetime', 'Open', 'High', 'Low', 'Close', 'Volume']
df.columns = cols
df['datetime'] = pd.to_datetime(df['datetime'], unit='s')

df['datetime'] = df['datetime'].dt.tz_localize('utc').dt.tz_convert('Asia/Kolkata')
df['datetime'] = df['datetime'].dt.tz_localize(None)

df = df.set_index('datetime')

df.head(5)

                        Open     High      Low    Close  Volume
datetime
2023-11-10 09:15:00  43544.4  43608.7  43508.6  43566.1       0
2023-11-10 10:00:00  43565.5  43674.6  43560.1  43657.7       0
2023-11-10 10:45:00  43658.2  43736.6  43629.0  43671.3       0
2023-11-10 11:30:00  43669.6  43711.4  43607.6  43694.8       0
2023-11-10 12:15:00  43696.8  43785.7  43670.9  43754.6       0